<h1>New Blog Post</h1>
<%= form_with model: @blog_post, html: { 'hx-target': 'body' } do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.button %>
  <% if form.object.errors.any? %>
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>